In [3]:
import pandas as pd
import pymysql, xlrd
from sqlalchemy import create_engine

#### 连接数据库 ####
'''
db键入了数据库地址，用户名，密码，数据库名字；
cursor当需要对数据库操作时，需要建立连接
（1）当需要逐条写入数据库时，需db,cursor，用cursor.execute来运行代码
（2）当我们用dataframe写入时，需db_engine，用dataframe.to_sql来写入
（3）当需要读取mysql的时候，如果读取数据以dataframe展现，需db_connection，将数据从sql库中直接由dataframe读取
'''
def connect_mysql():
    db = pymysql.connect(host='39.105.11.250', user='root', passwd='123456', db='analysis', port=3306, charset='utf8')
    cursor = db.cursor()
    db_engine = create_engine('mysql+pymysql://root:123456@39.105.11.250/analysis')
    db_connection = db_engine.connect()
    return db, cursor, db_engine,db_connection

def execute_mysql_script(script):
    db,cursor,db_engine,db_connection = connect_mysql()
    cursor.execute(script)
    cursor.close()
    
def parking_staging_reader(sd,ed):
    content = '''
    SELECT * FROM parking_staging 
    where 
        data_date >= '%s'
        AND data_date <= '%s'
        AND del_flag = 0
    '''%(sd,ed)
    return content

In [4]:
#### 各季度各支行银行卡专业任务目标分配表, 创建新表 ####
#### 表名：budget ####
#### 定义列名，数据类型 ####

table_name = 'budget'
script = f'''
CREATE TABLE {table_name} (
  year INT NOT NULL,
  season INT NOT NULL,
  branch CHAR(255) NOT NULL,
  product CHAR(255)NOT NULL,
  value INT NOT NULL
  )'''

#### 当表名存在时，在这里我跳过错误 ####
try:
    execute_mysql_script(script)
except:
    pass

#### 如果想要删掉表格，写入drop文件指定sql表名即可，例如 ####

# table_name = 'budget'
# script = f'''
# DROP TABLE {table_name}
# '''
# execute_mysql_script(script)

In [5]:
#### 举例：将“各季度各支行银行卡专业任务目标分配表”入库 ####
#### 处理数据 ####

year = 2021
df_plan = pd.read_excel(f"./{year}年各季度各支行银行卡专业任务目标分配表及中收比例.xls", header=2)
df_plan.rename(columns = {'Unnamed: 0': '支行'}, inplace = True)
df_plans = pd.DataFrame()
df_temp = df_plan.loc[:,['支行',
                   '房抵e分期',
                   '家家乐',
                   '普通e分期',
                   '车位分期',
                   '融e借']]
df_temp.loc[:,'季度'] = 1
df_temp = df_temp.set_index(['支行','季度']).stack().reset_index(name='值').rename(columns={'level_2':'产品'})
df_plans = pd.concat([df_plans,df_temp])

df_temp = df_plan.loc[:,['支行',
                   '房抵e分期.1',
                     '家家乐.1',
                     '普通e分期.1',
                     '车位分期.1',
                     '融e借.1']]
df_temp.columns = ['支行',
                   '房抵e分期',
                   '家家乐',
                   '普通e分期',
                   '车位分期',
                   '融e借']
df_temp.loc[:,'季度'] = 2
df_temp = df_temp.set_index(['支行','季度']).stack().reset_index(name='值').rename(columns={'level_2':'产品'})
df_plans = pd.concat([df_plans,df_temp])

df_temp = df_plan.loc[:,['支行',
                   '房类e分期\n（包含：房抵e分期及家家乐分期）',
                     '普通e分期.2',
                     '车位分期.2',
                     '融e借.2']]
df_temp.columns = ['支行',
                   '房类e分期',
                   '普通e分期',
                   '车位分期',
                   '融e借']
df_temp.loc[:,'季度'] = 3
df_temp = df_temp.set_index(['支行','季度']).stack().reset_index(name='值').rename(columns={'level_2':'产品'})
df_plans = pd.concat([df_plans,df_temp])

df_temp = df_plan.loc[:,['支行',
                    '房类e分期\n（包含：房抵e分期及家家乐分期）.1',
                     '普通e分期.3',
                     '车位分期.3',
                     '融e借.3']]
df_temp.columns = ['支行',
                   '房类e分期',
                   '普通e分期',
                   '车位分期',
                   '融e借']
df_temp.loc[:,'季度'] = 4
df_temp = df_temp.set_index(['支行','季度']).stack().reset_index(name='值').rename(columns={'level_2':'产品'})
df_plans = pd.concat([df_plans,df_temp])
df_plans.loc[:,'年度' ] = f'{year}'
df_plans = df_plans[['年度','季度','支行','产品','值']]
df_plans.columns = ['year','season','branch','product','value']

In [8]:
df_plans

     year  season branch product   value
0    2021       1   半山支行   房抵e分期    4800
1    2021       1   半山支行     家家乐    3200
2    2021       1   半山支行   普通e分期       0
3    2021       1   半山支行    车位分期    2700
4    2021       1   半山支行     融e借    3100
..    ...     ...    ...     ...     ...
107  2021       4   众安支行     融e借    1000
108  2021       4     合计   房类e分期  110000
109  2021       4     合计   普通e分期   10000
110  2021       4     合计    车位分期   40000
111  2021       4     合计     融e借   29500

[504 rows x 5 columns]

In [6]:
#### dataframe数据写入 ####
#### 列名需要与数据库列名一致，顺序也需要一样 ####

db,cursor,db_engine,db_connection = connect_mysql()
table_name = 'budget'
df_plans.columns = ['year','season','branch','product','value']
df_plans.to_sql(table_name, con=db_engine, if_exists='append', index=False)

In [9]:
#### 数据库读取 ####

_date = '2021-01-05'
_ed = '2021-01-05'

# 四个季度的中收比例
list_prop = {1: 0.02, 
             2: 0.01, 
             3: 0.01, 
             4: 0.01}
dic_season = {1:1,2:1,3:1,4:2,5:2,6:2,7:3,8:3,9:3,10:4,11:4,12:4}

db, cursor, db_engine, db_connection = connect_mysql()
df = pd.read_sql(parking_staging_reader(_date,_ed), db_connection)
#### “开元支行”支行名字为空， 改成“保俶支行”
df.loc[df.three_level_branch=='','three_level_branch'] = '保俶支行'
df.loc[:,'three_level_branch'] = df.loc[:,'three_level_branch'].str.replace('中国工商银行股份有限公司','')
df.loc[df.three_level_branch == '经济技术开发区支行','three_level_branch'] = '经开支行'
df.loc[df.three_level_branch == '城站支行','three_level_branch'] = '江城支行'
df.loc[df.three_level_branch == '余杭支行','three_level_branch'] = '临平支行'
df.loc[df.three_level_branch == '科创支行','three_level_branch'] = '余杭支行'

df = df.loc[:,['three_level_branch','total_loan_amount']]
df.columns = ['支行','当日金额']
_month_num = int(_date[5:7])
# _date_num = int(_date[8:])
_season_num = dic_season[_month_num]