In [2]:
import math

import numpy as np
class AHP:
    #传入的np.ndarray是的判断矩阵
    def __init__(self,array):
        self.array = array
        # 记录矩阵大小
        self.n = array.shape[0]
        # 初始化RI值,用于一致性检验
        RI_list = [0,0,0.58,0.90,1.12,1.24,1.32,1.41,1.45]
        self.RI = RI_list[self.n-1]

	#获取最大特征值和对应的特征向量
    def get_eig(self):
        #numpy.linalg.eig() 计算矩阵特征值与特征向量
        eig_val ,eig_vector = np.linalg.eig(self.array)
        #获取最大特征值
        max_val = np.max(eig_val)
        max_val = round(max_val.real, 4)
        #通过位置来确定最大特征值对应的特征向量
        index = np.argmax(eig_val)
        max_vector = eig_vector[:,index]
        max_vector = max_vector.real.round(4)
        #添加最大特征值属性
        self.max_val = max_val
        #计算权重向量W
        weight_vector = max_vector/sum(max_vector)
        weight_vector = weight_vector.round(4)
        #打印结果
        print("最大的特征值: "+str(max_val))
        print("对应的特征向量为: "+str(max_vector))
        print("归一化后得到权重向量: "+str(weight_vector))
        return weight_vector

    #测试一致性
    def test_consitst(self):
        #计算CI值
        CI = (self.max_val-self.n)/(self.n-1)
        CI = round(CI,4)
        #打印结果
        print("判断矩阵的CI值为" +str(CI))
        print("判断矩阵的RI值为" +str(self.RI))
        #分类讨论
        if self.n == 2:
            print("仅包含两个子因素，不存在一致性问题")
        else:
            #计算CR值
            CR = CI/self.RI
            CR = round(CR,4)
            #CR < 0.10才能通过检验
            if  CR < 0.10 :
                print("判断矩阵的CR值为" +str(CR) + "，通过一致性检验")
                return True
            else:
                print("判断矩阵的CR值为" +str(CR) + "，未通过一致性检验")
                return False

In [5]:
ahp=AHP(np.array([[1,2,3];[4,5,6];[7,8,9]]))

SyntaxError: invalid syntax (1002776025.py, line 1)

In [4]:
np.array([1,2,3;4,5,6;7,8,9])

SyntaxError: invalid syntax (1013058500.py, line 1)

In [15]:
import pandas as pd
import math

In [11]:
data=pd.read_excel('/Users/apple/Desktop/数据.xlsx')
data.head(10)

   地区  城市    年份   出生率  人均可支配收入    常住人口     房价  在岗职工平均工资
0  东部  北京  2011  8.29    30910  2024.0  24964     75835
1  东部  北京  2012  9.05    36468  2078.0  29916     85306
2  东部  北京  2013  8.93    40321  2120.0  40342     93997
3  东部  北京  2014  9.75    43910  2151.6  37294    103400
4  东部  北京  2015  7.96    52859  2183.0  39437    113073
5  东部  北京  2016  9.32    52530  2195.0  57597    122749
6  东部  北京  2017  9.06    57229  2194.0  57768    134994
7  东部  北京  2018  8.24    62361  2192.0  59868    149843
8  东部  北京  2019  8.12    67756  2190.0  58568    173205
9  东部  上海  2011  6.97    32250  2356.0  22483     77031

In [12]:
from funcy import flatten
data['城市']=list(flatten([[str(i)]*9 for i in range(1,32)]))

In [16]:
for s in data.columns[3:]:
    data[s+'_ln']=data[s].map(math.log)

In [17]:
data.head()

,地区,城市,年份,出生率,人均可支配收入,常住人口,房价,在岗职工平均工资,出生率_ln,人均可支配收入_ln,常住人口_ln,房价_ln,在岗职工平均工资_ln
0,东部,1,2011,8.29,30910,2024.0,24964,75835,2.115050,10.338835,7.612831,10.125190,11.236315
1,东部,1,2012,9.05,36468,2078.0,29916,85306,2.202765,10.504190,7.639161,10.306149,11.354000
2,东部,1,2013,8.93,40321,2120.0,40342,93997,2.189416,10.604628,7.659171,10.605148,11.451018
3,东部,1,2014,9.75,43910,2151.6,37294,103400,2.277267,10.689897,7.673967,10.526588,11.546360
4,东部,1,2015,7.96,52859,2183.0,39437,113073,2.074429,10.875383,7.688455,10.582460,11.635789

In [20]:
data['人均可支配收入_2']=data['人均可支配收入']**2

In [21]:
data.head()

,地区,城市,年份,出生率,人均可支配收入,常住人口,房价,在岗职工平均工资,出生率_ln,人均可支配收入_ln,常住人口_ln,房价_ln,在岗职工平均工资_ln,人均可支配收入_2
0,东部,1,2011,8.29,30910,2024.0,24964,75835,2.115050,10.338835,7.612831,10.125190,11.236315,955428100
1,东部,1,2012,9.05,36468,2078.0,29916,85306,2.202765,10.504190,7.639161,10.306149,11.354000,1329915024
2,东部,1,2013,8.93,40321,2120.0,40342,93997,2.189416,10.604628,7.659171,10.605148,11.451018,1625783041
3,东部,1,2014,9.75,43910,2151.6,37294,103400,2.277267,10.689897,7.673967,10.526588,11.546360,1928088100
4,东部,1,2015,7.96,52859,2183.0,39437,113073,2.074429,10.875383,7.688455,10.582460,11.635789,2794073881

In [22]:
data.to_excel('/Users/apple/Desktop/数据.xlsx',index=False)